.root {

    -fx-font-size: 12px;

    -fx-background-color: #020c14;
}

.appTitle{

    -fx-font-family: "BAD GRUNGE";
    -fx-font-size:100px;
    -fx-text-fill: #EBD224;
}
.headerBanner{
    -fx-background-color: #020C14FF;
}

.button{
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-font-family: "AVENGEANCE MIGHTIEST AVENGER";
    -fx-font-size:25px;
    -fx-text-fill: #C4222D;
    -fx-border-width: 3;
    -fx-border-color: #C4222D ;
    -fx-border-radius: 15;
    -fx-underline: true;
}

.filmTitle{
    -fx-font-family: "AVENGEANCE MIGHTIEST AVENGER";
    -fx-font-size:20px;
    -fx-text-fill: #EBD224;
}
.filmYear{
    -fx-font-family: "AVENGEANCE MIGHTIEST AVENGER";
    -fx-font-size:20px;
    -fx-text-fill: #EBD224;
    -fx-alignment: center;

}
.filmRate{
    -fx-font-family: "AVENGEANCE MIGHTIEST AVENGER";
    -fx-font-size:40px;
    -fx-text-fill: #EBD224;
   -fx-alignment: center-right;

}
.filmRateStar{
    -fx-font-size:40px;
    -fx-text-fill: #EBD224;
    -fx-alignment: center-right;


}



#imageStackPaneX{
    -fx-border-color:darkblue;
    -fx-border-width:10px;
}
.stackPane{
    -fx-background-color: white;
}


.im{
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.imageViewIdle{
    -fx-border-width: 1px;
    -fx-border-color: #EBD224;
}

.imageViewSelected{
    -fx-border-width: 1px;
    -fx-border-color: white;
}


HBox, VBox {
    -fx-alignment: center ;


}

#userAllFilms{
    -fx-background-color: #020c14;

}
.list-cell{
    -fx-background-color: #020c14;
    -fx-padding: 0px;

}


.list-view, .split-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.comparePane{
    -fx-background-color: #EBD224;
    -fx-background-radius: 15;

}