
.SelectedMovie{
    -fx-background-color: white;
}


#imageBox{
    -fx-border-width: 1;
    -fx-border-color: #3e3e3e;
    -fx-background-color: #cccccc;

}
.label{
    -fx-alignment:center
}

.filmTitle{
    -fx-font-weight: bold;
    -fx-font-size: 27;

    -fx-effect: dropshadow( gaussian , rgba(119, 119, 119,0.8), 0,0,1,1);
}

.filmYear{
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-effect: dropshadow( gaussian , rgba(119, 119, 119,0.2), 0,0,1,1);
}

.movieBox{
    -fx-background-color: rgba(80, 104, 121, 0.41);
    -fx-padding: 0px;
}

.filmRate{
    -fx-font-weight: bold;
    -fx-font-size: 25;
}